@use 'assets' as *;
$headerHeight: 4.5rem;

.header {
    @extend %dflex;
    justify-content: space-between;
    align-items: center;
    
    max-height: $headerHeight;
    
    padding-bottom: 2px;
    padding-right: 1.75rem;
    @extend %underlineGradient;

    &_logo {
        @extend %dflex--center;

        max-height: $headerHeight;
        height: 100%;

        img {
            height: calc($headerHeight * 0.9);
            width: auto;
            object-fit: contain
        }
        h1 {
            font-size: 1rem;
            font-weight: 400;
        }
    }

    &_nav {
        @extend %dflex--center;
        gap: 1rem;

        &--connect {
            @extend .header_nav;
        }
    }
}



.footer {
    background-color: grey;
}





@media screen and (max-width: 675px) {
    .header {
        &_nav {
            display: none;
        }
    }
}